$blue: #3E3970;

footer {
  background-image: url("../assets/images/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-footer {
  width: 90vw;
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-media {
  ul {
    li {
      cursor: pointer;
      
      img {
        width: 48px;
      }
    }
  }
}

@media (width <= 767px) {
  .container-footer {
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  .social-media {
    ul {
      li {
        img {
          width: 30px;
        }
      }
    }
  }
}